@import url('https://fonts.googleapis.com/css?family=Encode+Sans+Expanded&display=swap');

body {
  margin: 0;
  font-family: 'Encode Sans Expanded', sans-serif;

}

.navbar{
  display: inline-block!important;
  width: 100%;
  background:none;
  padding: 20px 70px!important;
  position: absolute!important;
  
}
.navbar-brand{
  color:white!important;
  cursor: pointer;
}
.name{
  font-weight: 800;
  letter-spacing: 0.105em;
}
.right{

  float: right;
}

.titleBox{
width: auto;
position: absolute;
left: 50%;
transform: translate(-50%, -50%) ;
text-align: center;
top: 50%;
}
.titleLine{
  font-size: 100px;
  font-family: 'Encode Sans Expanded', sans-serif;
  font-weight: 1000;
  color: #fff;
}

.tagLine{
  font-family: 'Encode Sans Expanded', sans-serif;
  font-weight: 100;
  font-size: 70px;
  letter-spacing: 0.310em;
  color:#fff;
}

.introBox{
  width: auto;
position: absolute;
left: 50%;
transform: translate(-50%, -50%) ;
text-align: left;
top: 50%;
color:#fff;
}

.introBox h1{
  font-size: 50px;
  letter-spacing: 0.110em;
}

.introBox p{
  letter-spacing: 0.09em;
  line-height: 207.5%;
  font-size: 20px;
  font-weight: 400;
}